<section class="weather-search" class="form-group">
    <form>
        <div class="form-group">
            <label for="city">Ville :</label>
            <input class="form-control" type="text" placeholder="Entrez le nom de la ville" id="city" [(ngModel)]="cityName"
                name="cityname" (input)="onSearchLocationWithEvent($event)">
        </div>
        <button class="btn btn-primary" [disabled]="disabledForecastButton" (click)="onSubmitDatabinding()"
            type="submit">Chercher</button>
    </form>
    <div id="boxPrev" style="display: inline-block;">
        <weather-list [WeatherForecastList]="weatherForecastData"></weather-list>
    </div>
</section>
